<style>
         .delivery-container{
                  display:flex;
                  align-items: center;
                  padding:5px;
                  border: 1px solid #d22229;
                  margin-top:0.7rem;
         }
         .img-container-delivery{
                  width:20%;
         }
         .blurb-container-delivery{
                  width:80%;
                  padding:5px;

         }
         .blurb-container-delivery p{
                  margin:0;
         }
        p.mt-2.text-sm {
            margin-top: 1rem;
            font-size: 13px;
            margin-bottom: 0;
        }
</style>


<div class="delivery-container" style="margin-top: 1rem">
         <div class="img-container-delivery">
                  <img src="https://cdn11.bigcommerce.com/s-bek4r4rsz5/product_images/uploaded_images/delivery-icon.png?t=1643181873&_gl=1*6s0op4*_ga*MTY3NzY3MzYuMTYzNDgwNDgwOA..*_ga_WS2VZYPC6G*MTY0MzE4MjczMS4xMi4xLjE2NDMxODM0ODEuNDM." alt="">
         </div>
         <div class="blurb-container-delivery">
                  <p>
                           Local delivery generally available within a few days. We will call you to set up your 
                           delivery within 24-hours of your puchase.
                  </p>
         </div>
</div>

<div class="delivery-container">
         <div class="img-container-delivery">
                  <img src="https://cdn11.bigcommerce.com/s-bek4r4rsz5/product_images/uploaded_images/ship-icon.jpg?t=1645672502&_gl=1*of9a24*_ga*NTA2MTcyOTI4LjE2NDQ4Mjc5NzU.*_ga_WS2VZYPC6G*MTY0NTY2ODI1MC4zMi4xLjE2NDU2NzI0NzEuMTE." alt="">
         </div>
         <div class="blurb-container-delivery">
                  <p>
                        We are only able to ship within our service area. Our service area is limited to Southwestern Indiana, Southeastern Illinois, and Northwestern Kentucky. Sorry for any inconvenience this may cause.
                  </p>
         </div>
</div>
